.tabs {
	padding: 10px;
}

.tabs__tab-bar {
	display: flex;
	margin-bottom: 20px;
}

.tabs__link {
	background-color: white;
	border: 1px solid black;
	padding: 10px 0;
	width: 100px;
	text-align: center;
	margin-right: 10px;
}

.tabs__link--active {
  background-color: teal;
  color: white;
  border: 1px solid greenyellow;
}

.tabs__link:hover {
	background-color: black;
	color: white;
	cursor: pointer;	
}

.tabs__item {
  display: none;
}

.tabs__item--active {
  display: block;
}