.Tabs__item {
  display: none;
  /* border: 2px solid purple; */
}

.Tabs__item-selected {
  display: block;
  /* border: 2px solid red; */
}

.Tabs__links {
  justify-content: flex-start;
  left: 10px;
  margin: 20px;
}

.Tabs__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 10px 10px 10px;
  background-color: gray;
  cursor: pointer;
}

.Tabs__link-selected {
  background-color: white;
  border: solid 1px gray;
}

.Box__title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

.Box{
  padding: 0 10px 10px;
}