.Tabs__item {
  display: none;
}

.Tabs__item-selected {
  display: block;
}

/* list container */
.Tabs__links {
  left: 0;
  margin: 10px 0;
}
/* items in the list*/
.Tabs__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  background-color: gray;
}

.Tabs__link-selected {
  background-color: white;
  border: solid 1px gray;
}

/* Minor fixes with styles from here on out*/
.Box__title {
  font-size: 24px;
  font-weight: bold; 
  margin-bottom: 10px;
}

.tabsTitle {
  text-align: center;
  margin: 0;
}

.Tabs {
  margin: 0 1% 1% 1%;
}
