@import './components/Tabs/Tabs.css';
@import './components/Dropdown/Dropdown.css';
@import './components/Box/Box.css';
@import './components/Section/Section.css';

body {
	box-sizing: border-box;
	min-width: 300px;
	margin: 0;
}
