.box {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.box .Box1 {
    border: 2px solid black;
    padding: 25px;
}

.box .Box2 {
    border: 2px solid black;
    padding: 25px;
}

