.Box {
    margin: 0;
}

.Box__header {
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
}

.Box--left {
    border: 1px solid black;
    padding: 15px;
}

.Box--right {
    border: 1px solid black;
    padding: 15px;
}

