
.header {
    display: flex;
    border: 2px solid black;
}

.header__dropdown {
    margin: 20px;
}
.header__button {
    text-decoration: none;
    border: 1px solid black;
    padding: 3px;
}

.header__text {
    margin: 0 auto;
    font-size: 1.5rem;
    position: relative;
    top: 1rem;
    right: 3rem;
}

.header__list {
    display: none;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid black;
    padding: 0;
    position: fixed;
    top: 3.5rem;
    background-color: white;
    width: 5rem;
}
.header__list li {
    text-align: center;
    padding: 5px;
}

@media (max-width: 450px) {
    .header__text {
        margin: 2px;
        margin-top: 1rem;
        position: static;

    }
}