.Section {
    border: black solid 2px;
}

.Section__header {
    display: flex;
    justify-content: center;
    width: 100%;      
}

.Section--nav {
    display: flex;
    align-items: center;

}
.Section--content {
    display: flex;
    justify-content: space-between;
}